name: DryScan Check
on:
  pull_request:
    branches: [main]

jobs:
  duplication-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    
    steps:
      - name: Set up Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: actions/checkout@v4
      
      - uses: Goshenkata/dryscan-action@v3
        with:
          huggingface-api-key: ${{ secrets.HUGGINGFACEHUB_API_KEY }}
          threshold: 5
          path: '.'
          github-token: ${{ secrets.GITHUB_TOKEN }}
